[access]
	inheritFrom = All-Projects
[project]
	description = Device Identification and Driver Management
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-didm-committers
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/boron:refs/heads/stable/boron
